.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}

.card {
  margin: 5px;
  .color-code {
    text-align: center;
  }
}

.lock-open,
.lock-closed {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}