.generate-colors-btn {
  background: purple;
}

.save-palette-btn {
  background: orange;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  


  // position: 'absolute';
  //     width: theme.spacing.unit * 50,
  //     background-color: theme.palette.background.paper,
  //     boxShadow: theme.shadows[5],
  //     padding: theme.spacing.unit * 4,
  //     outline: 'none',
}